In [1]:
import numpy as np
import pandas as pd
import sklearn as sk

In [3]:
# import training data from relative filepath
data = pd.read_csv("../Data/train.csv")

data

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15115,15116,2607,243,23,258,7,660,170,251,214,...,0,0,0,0,0,0,0,0,0,3
15116,15117,2603,121,19,633,195,618,249,221,91,...,0,0,0,0,0,0,0,0,0,3
15117,15118,2492,134,25,365,117,335,250,220,83,...,0,0,0,0,0,0,0,0,0,3
15118,15119,2487,167,28,218,101,242,229,237,119,...,0,0,0,0,0,0,0,0,0,3
15119,15120,2475,197,34,319,78,270,189,244,164,...,0,0,0,0,0,0,0,0,0,3

In [13]:
# creat list of the soil type variable names
soil_list = ["Soil_Type" + str(number) for number in range(1,41)]

for soil in soil_list:
    print(data.value_counts(subset = soil))

Soil_Type1
0    14765
1      355
dtype: int64
Soil_Type2
0    14497
1      623
dtype: int64
Soil_Type3
0    14158
1      962
dtype: int64
Soil_Type4
0    14277
1      843
dtype: int64
Soil_Type5
0    14955
1      165
dtype: int64
Soil_Type6
0    14470
1      650
dtype: int64
Soil_Type7
0    15120
dtype: int64
Soil_Type8
0    15119
1        1
dtype: int64
Soil_Type9
0    15110
1       10
dtype: int64
Soil_Type10
0    12978
1     2142
dtype: int64
Soil_Type11
0    14714
1      406
dtype: int64
Soil_Type12
0    14893
1      227
dtype: int64
Soil_Type13
0    14644
1      476
dtype: int64
Soil_Type14
0    14951
1      169
dtype: int64
Soil_Type15
0    15120
dtype: int64
Soil_Type16
0    15006
1      114
dtype: int64
Soil_Type17
0    14508
1      612
dtype: int64
Soil_Type18
0    15060
1       60
dtype: int64
Soil_Type19
0    15074
1       46
dtype: int64
Soil_Type20
0    14981
1      139
dtype: int64
Soil_Type21
0    15104
1       16
dtype: int64
Soil_Type22
0    14775
1      345
dtype: int64
Soil_Type23
0    14363
1      757
dtype: int64
Soil_Type24
0    14863
1      257
dtype: int64
Soil_Type25
0    15119
1        1
dtype: int64
Soil_Type26
0    15066
1       54
dtype: int64
Soil_Type27
0    15105
1       15
dtype: int64
Soil_Type28
0    15111
1        9
dtype: int64
Soil_Type29
0    13829
1     1291
dtype: int64
Soil_Type30
0    14395
1      725
dtype: int64
Soil_Type31
0    14788
1      332
dtype: int64
Soil_Type32
0    14430
1      690
dtype: int64
Soil_Type33
0    14504
1      616
dtype: int64
Soil_Type34
0    15098
1       22
dtype: int64
Soil_Type35
0    15018
1      102
dtype: int64
Soil_Type36
0    15110
1       10
dtype: int64
Soil_Type37
0    15086
1       34
dtype: int64
Soil_Type38
0    14392
1      728
dtype: int64
Soil_Type39
0    14463
1      657
dtype: int64
Soil_Type40
0    14661
1      459
dtype: int64